@import url(https://fonts.googleapis.com/css?family=Luckiest+Guy);


//title.js
.top-padding {
  padding-top: 30px;
}

.fontWhiteTitle{
  font-family: "Luckiest Guy", sans-serif;
  position:center;
  font-size: 66px;
  color:white;
  right:10px;
}

@media screen and (min-width: 800px) {
  .half-width {
    width: 50%;
  }
}





.axe {
  position:absolute;
  right:20px;
}

.margin-bottom {
  margin: 30px;
}

.sidebar{
  width:140px;
  height:285px;
  position:relative;
  float:right;
}
.scoreBoard{
  width:110px;
  height:170px;
  margin-top:-34px;
  padding:10px 10px 0;
  text-align:right;
  position:relative;
  top:21px;
  left:15px;
  border-radius:8px;
  background: rgba(0,0,0,0.8);
}


.lootracker li{
	height:40px;
}
.lootracker li img{
	height:30px;
	position:relative;
	top:8px;
}

.fontWhite{
  font-family: "Luckiest Guy", sans-serif;
  position:absolute;
  font-size:26px;
  color:white;
  right:24px;
}

.fontWhiteScores{
  font-family: "Luckiest Guy", sans-serif;
  font-size:26px;
  color:white;
}

.score{
  font-family: "Luckiest Guy", sans-serif;
  position:absolute;
  font-size:26px;
  color:gold;
  right:10px;
}

.loot{
  position:absolute;
  font-size:22px;
  color:#fff;
  right:10px;
  top:75px;
}

.gametile{
  width:70px;
  height:91px;  
  float:left;
  margin-top:-34px;
  position:relative;
  transition: top 200ms ease;
  cursor: pointer;
}
.stone{
  background: url('http://adrianpayne.me/game/assets/images/stone.png') no-repeat;
}
.gem{
  width:46px;
  height:49px;
  position:relative;
  left:12px;
}

.star{
  width:51px;
  height:51px;
  position:relative;
  left:3px;
  top:-10px;
}

.button-wood{
  width:110px;
  padding: 5px 10px 5px 10px;
  display:block;  
  position:absolute;
  left:17px;
  bottom:38px;
  line-height:20px;
  font-size:18px;
  text-decoration:none;
  text-align:center;
  color:#fff;
  border-radius:8px;
  border: 2px solid PeachPuff;
  background: url('http://adrianpayne.me/game/assets/images/button.jpg') repeat;
}
.button-wood:hover{
  color:Khaki;
  border-color: Sienna;
}
.button-wood:active{
  font-size:16px;
  border-color: PeachPuff;
}





//New progress bar
// Progress Bars
progress, progress[role] {
  // -webkit-appearance: none;
  // -moz-appearance: none;
  // appearance: none;
  // border: none;
  // background-size: auto;
  border-radius: 20px;
  height: 40px;
  width: 100%;
}

// The unordered list
.skill-list {
  list-style: none;
  margin: 0;
  padding: 1em;
}

// The list item
.skill {
  margin-bottom: 1em;
  position: relative;
  ::-webkit-progress-value { 
    -webkit-animation: bar-fill 2s;
    width: 0px;
  }
}

// Style the bar colors
.skill-1::-webkit-progress-value {
  background: #24B2FA;
}
// Animation Keyframes
@-webkit-keyframes bar-fill {
  0% { width: 0; }
}

@keyframes bar-fill {
  0% { width: 0; }
}





//MOBILE SCORE
// .sidebarMobile{
//   margin: 0 auto
// }
.scoreBoardMobile{
  width:300px;
  height:70px;
  margin-top:-34px;
  padding:10px 10px 0;
  text-align:center;
  position:relative;
  top:21px;
  left:15px;
  border-radius:8px;
  background: rgba(36,178,250,0.8);
}

.button-wood-mobile{
  width:110px;
  padding: 5px 10px 5px 10px;
  // display:block;  
  // position:absolute;
  left:17px;
  bottom:8px;
  line-height:20px;
  font-size:18px;
  text-decoration:none;
  text-align:center;
  color:#fff;
  border-radius:8px;
  border: 2px solid PeachPuff;
  background: url('http://adrianpayne.me/game/assets/images/button.jpg') repeat;
}
.button-wood-mobile:hover{
  color:Khaki;
  border-color: Sienna;
}
.button-wood-mobile:active{
  font-size:16px;
  border-color: PeachPuff;
}

.margin-bottom {
  margin-bottom: 40px;
}

