@import url(https://fonts.googleapis.com/css?family=Luckiest+Guy);


.margin-bottom {
  margin: 30px;
}

.sidebar{
  width:140px;
  height:285px;
  position:relative;
  float:right;
}
.scoreBoard{
  width:110px;
  height:170px;
  margin-top:-34px;
  padding:10px 10px 0;
  text-align:right;
  position:relative;
  top:21px;
  left:15px;
  border-radius:8px;
  background: rgba(0,0,0,0.8);
}

.lootracker li{
	height:40px;
}
.lootracker li img{
	height:30px;
	position:relative;
	top:8px;
}

.fontWhite{
  font-family: "Luckiest Guy", sans-serif;
  position:absolute;
  font-size:26px;
  color:white;
  right:10px;
}

.fontWhiteScores{
  font-family: "Luckiest Guy", sans-serif;
  font-size:26px;
  color:white;
}

.score{
  font-family: "Luckiest Guy", sans-serif;
  position:absolute;
  font-size:26px;
  color:gold;
  right:10px;
}

.loot{
  position:absolute;
  font-size:22px;
  color:#fff;
  right:10px;
  top:75px;
}
.lootracker li{
	height:40px;
}
.lootracker li img{
	height:30px;
	position:relative;
	top:8px;
}
.gametile{
  width:70px;
  height:91px;  
  float:left;
  margin-top:-34px;
  position:relative;
  transition: top 200ms ease;
  cursor: pointer;
}
.stone{
  background: url('http://adrianpayne.me/game/assets/images/stone.png') no-repeat;
}
.gem{
  width:46px;
  height:49px;
  position:relative;
  left:12px;
}

.star{
  width:51px;
  height:51px;
  position:relative;
  left:3px;
  top:-10px;
}

.button-wood{
  width:110px;
  padding: 5px 10px 5px 10px;
  display:block;  
  position:absolute;
  left:17px;
  bottom:38px;
  line-height:20px;
  font-size:18px;
  text-decoration:none;
  text-align:center;
  color:#fff;
  border-radius:8px;
  border: 2px solid PeachPuff;
  background: url('http://adrianpayne.me/game/assets/images/button.jpg') repeat;
}
.button-wood:hover{
  color:Khaki;
  border-color: Sienna;
}
.button-wood:active{
  font-size:16px;
  border-color: PeachPuff;
}




.wrapper {
  width: 100%;
  height: 430px;
}

.explode-button {
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
  background: grey;
  height: 22px;
  width: 65px;
  position: absolute;
}

.explosion-wrapper {
    width: 100%;
    height: 100%;
}

.emitter {
    position: absolute;
    visibility: hidden;
    background-color: black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translateX(-10px) translateY(-10px);
}

.sprite-container {
    position: absolute;
    left: 0;
    top: 0;
    overflow: visible;
    z-index: 5000;
    pointer-events: none;
}

.sprite {
    position: absolute;
    pointer-events: none;
}
